@font-face {
    font-family: "Comic Sans";
    src: url("../fonts/comic_sans.eot");
    src: url("../fonts/comic_sans.eot?#iefix") format("embedded-opentype"),
         url("../fonts/comic_sans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


